<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container">
  <div class="row">
        <div class="profile-header-container">   
        <div class="profile-header-img">
                <img class="img-circle" src="https://avatars3.githubusercontent.com/u/5585735?v=3&s=460" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">100 puntos</span>
                </div>
            </div>
        </div> 
  </div>
</div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
