<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  

    {% include header.html %}

    <div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="https://avatars3.githubusercontent.com/u/5585735?v=3&s=460s" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Fatih Sucu
          </div>
          <div class="profile-usertitle-job">
            Python Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <!-- END MENU -->
      </div>
    </div>
  </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </div>

    

    {% include footer.html %}

  </body>

</html>
